@import url('https://fonts.googleapis.com/css2? family= Inter:wght@400;700 & family= Oswald:wght@300;500 & display=swap');

:root{
    --cor-primaria: #f1f1f1;
    --cor-secundaria:#aa84f9;
    --cor-tercearia:#000000;
    --cor-quaternaria: white;
    --fonte-principal: 'Oswald', sans-serif;
}

*{
    margin:0;
    padding:0;
}

body{
    height: 100vh;
    background-color: var(--cor-primaria);
}

.cabecalho{
    padding: 0% 0 0 30%;
    margin: 50px;
}

.cabecalho__menu{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 150px;
}

.cabecalho__menu__link{
    color: var(--cor-tercearia);
    font-family: var(--fonte-principal);
    font-size: 15px;
    font-style: normal;
    text-decoration: none;
}

.cabecalho__menu__link:hover{
    -xpedu-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.cabecalho__menu__link2{
    color: var(--cor-primaria);
    font-family: var(--fonte-principal);
    font-size: 15px;
    font-style: normal;
    text-decoration: none;
    background-color: var(--cor-tercearia);
    display: flex;
    padding: 10px;
    
}

.apresentacao-01{
    display: flex;
}

.conteiner-01{
    font-family: var(--fonte-principal);
    display:flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.titulos{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin: 0px 100px 0px 0px;
}

.titulo-01{
    font-size: 140px;
}

.titulo-02{
    font-size: 30px;
}

.parte-02{
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 10px;
}

.botoes{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: 43px;
    font-family: var(--fonte-principal);
}

.botao-01{
    background-color: var(--cor-secundaria);
    color: var(--cor-tercearia);
    display:inline-block;
    font-weight:bold;
    padding:6px 10px;
    text-decoration:none;
}

.botao-02{
    color: var(--cor-tercearia);
    display: flex;
    text-decoration: none;
    justify-content: center;
}

.foto-01{
    width: 60%;
}

.conteiner-02{
    background-color: var(--cor-tercearia);
    width: 100%;
    height: 20%;
    
}
.retangulo-textos{
    display: flex;
    gap: 8px;
    margin-left: 38px;
    justify-content: center;
}

.retangulo-texto-01{
    font-family: var(--fonte-principal);
    color: var(--cor-primaria);
    margin-top: 45px;
}

.retangulo-texto-02{
    font-family: var(--fonte-principal);
    color: var(--cor-primaria);
    margin-top: 45px;
}


.conteiner-03{
    font-family: var(--fonte-principal);
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner-04{
    font-family: var(--fonte-principal);
    display: flex;
    align-items:baseline;
    gap: 20px;
    padding: 50px;
}

.texto-titulo-principal-01{
    font-size: 100px;
}

.texto-titulo-principal-02{
    font-size: 40px;
}

.conteiner-05{
    display: flex;
    justify-content: center;
    padding: 60px;
    gap:60px;
}

.borda-01{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 35px;
    border: 2px solid var(--cor-quaternaria);
    width: 250px;
    height: 300px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.borda-01:hover{
    -xpedu-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    border-color: var(--cor-secundaria);
}

.texto-level-01{
    font-size: 25px;
    padding: 12px;
}

.paragrafo-level-01{
    text-align: center;
    font-size: 20px;
    padding: 30px;
}

.botao-level-01{
    background-color: var(--cor-secundaria);
    display: inline-block;
    font-weight: bold;
    padding: 6px 10px;
    text-decoration: none;
    color: var(--cor-quaternaria);
}

.borda-02{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 35px;
    border: 2px solid var(--cor-quaternaria);
    width: 250px;
    height: 300px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.borda-02:hover{
    -xpedu-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    border-color: var(--cor-secundaria);
}

.texto-level-02{
    font-size: 25px;
    padding: 12px;
}

.paragrafo-level-02{
    font-size: 20px;
    text-align: center;
    font-size: 20px;
    padding: 30px;
}

.botao-level-02{
    background-color: var(--cor-secundaria);
    display: inline-block;
    font-weight: bold;
    padding: 6px 10px;
    text-decoration: none;
    color: var(--cor-quaternaria);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.borda-03{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 35px;
    border: 2px solid var(--cor-quaternaria);
    width: 250px;
    height: 300px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.borda-03:hover{
    -xpedu-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    border-color: var(--cor-secundaria);
}

.texto-level-03{
    font-size: 25px;
    padding: 12px;
}

.paragrafo-level-03{
    font-size: 20px;
    text-align: center;
    font-size: 20px;
    padding: 30px;
}

.botao-level-03{
    background-color: var(--cor-secundaria);
    display: inline-block;
    font-weight: bold;
    padding: 6px 10px;
    text-decoration: none;
    color: var(--cor-quaternaria);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.porra{
    display: flex;
}
.conteiner-06{
    font-family: var(--fonte-principal);
    width: 50%;
    margin-left: 30px;
}

.titulos-06{
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin-left: 30px;
    padding: 15px 0 15px 0;
}

.titulo-06-01{
    font-size: 100px;
}

.titulo-06-02{
    font-size: 35px;
}

.paragrafo-06{
    padding-inline-start: 15px;
    line-height: 23px;
    margin-left: 30px;
    padding: 15px 0 15px 0;
}

.listas{
    display: flex;
    justify-content:space-evenly;
    padding: 18px 0 18px 0;
}

.listas-listas{
    line-height: 30px;
}

.listas-listas-listas{
    line-height: 30px;
}

.botao-06{
    padding: 35px;
}

.botao{
    background-color: var(--cor-secundaria);
    color: var(--cor-tercearia);
    display:inline-block;
    font-weight:bold;
    padding:6px 10px;
    text-decoration:none;
}

.foto-06{
    display: flex;
    width: 500px;
    height: 450px;
    justify-content:right;
    width: 50%;
}

.porra2{
    display: flex;
    font-family: var(--fonte-principal);
}

.conteiner-07{
    display: flex;
    width: 500px;
    height: 450px;
    justify-content:center;
    width: 50%;
}

.conteiner-07-parte2{
    width: 50%;
    padding-top: 60px;
}

.titulo-conteiner-07{
    font-size: 55px;
}

.paragrafo-07{
    line-height: 23px;
    padding-inline-start: 15px;
    padding: 45px 80px 45px 0;
    text-align: justify;
}

.botao-07{
    text-decoration: none;
    color: var(--cor-tercearia);
    background-color: var(--cor-secundaria);
    display: inline-block;
    font-weight: bold;
    padding: 6px 10px;
}

.conteiner-08{
    width: 100%;
    position: relative;
    font-family: var(--fonte-principal);
}

.foto-08{
    width: auto;
}

.titulo-08{
    color: var(--cor-primaria);
    font-size: 70px;
    position: absolute;
    bottom: 250px;
    left: 120px;
}

.titulo-08-02{
    color: var(--cor-primaria);
    font-size: 40px;
    position: absolute;
    bottom: 200px;
    left: 200px;
}

.botao-08{
    text-decoration: none;
    color: var(--cor-primaria);
    background-color: var(--cor-tercearia);
    display: inline-block;
    font-weight: bold;
    padding: 6px 10px;
    position: absolute;
    bottom: 150px;
    left: 355px;
}

.conteiner-09{
    display: flex;
    align-items: center;
}

.titulo-conteiner-09{
    display: flex;
    align-items: baseline;
    gap: 20px;
    margin-left: 60px;
    padding: 15px 0 15px 0;
}

.conteiner-09{
    font-family: var(--fonte-principal);
}

.titulo-09{
    font-size: 100px;
}

.titulo-09-02{
    font-size: 35px;
}

.conteiner-10{
    display: flex;
    font-family: var(--fonte-principal);
    padding: 30px;
    align-items: center;
}

.conteudo-conteiner-10{
    padding: 10px;
}

.imagem10{
    margin-left: 55px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: var(--cor-tercearia) solid;
}

.laura{
    font-size: 15px;
}

.paragrafo-cliente-01{
    padding: 10px;
    text-align: justify;
    padding-inline-start: 20px;
    line-height: 23px;
    font-size: 13px;
}

.estrelas{
    display: flex;
    color: var(--cor-secundaria);
    list-style-type: none;
    gap: 10px;
    padding: 16px;
}

.estrelass::before{
    content: "\2605";
}

.estrelasss::before{content: "\2605";
}

.estrelasss{
    color: grey;
}

.conteiner-11{
    display: flex;
    font-family: var(--fonte-principal);
}

.conteiner-11-sessão-1{
    width: 50%;
}
.foto-11{
    width: 560px;
    height: 650px;
    
}

.titulo-conteiner-11{
    font-size: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitulo-conteiner-11{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

.conteiner-11-sessão-2{
    width: 40%;
    padding: 30px;
}

.conteiner-11-divisão-2 {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.nome{
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    background: #c4c4c4;
    height: 50px;
    padding: 0 30px 0 68px;
    border-style:hidden;
}

.email{
    font-size: 15px;
    line-height: 1.5;
    display: block;
    width: 100%;
    background: #c4c4c4;
    height: 50px;
    padding: 0 30px 0 68px;
    border-style:hidden;
}

.inscrever{
    text-decoration: none;
    color: var(--cor-tercearia);
    background-color: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding: 6px 10px;
    align-items: center;
    margin-left: 35px;
    
}

.botao-inscrever{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

footer{
    width: 100%;
    min-height: 15px;
    font-family: var(--fonte-principal);
    background: var(--cor-tercearia);
    display: flex;
}

.rodape{
    width: 350px;
    min-height: 150px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.rodape h2{
    color: var(--cor-primaria);
    margin-bottom: 20px;
    align-items: center;
    font-size: 20px;
}

.rodape ul li{
    margin: 10px 0;
    list-style: nome;
    font-size: 15px;
}

.rodape ul li a{
    text-decoration: none;
    color: var(--cor-primaria);
}

.rodape ul li a:hover{
    color: var(--cor-secundaria);
}

.icones{
    display: flex;
    gap: 30px;
    width: 20px;
    height: 20px;
}